*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style-type: none;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
  font-weight: 400;
}
body{
  background: linear-gradient(45deg, #222, #555, #222);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* contact section */
.container{
  width: 80%;
  padding: 2rem;
  background-color: #c1c1c1;

}

.container h2{
  font-size: 2rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
}


.wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.wrapper .box{
  width: 100%;
  padding: 2rem;
  position: relative;
}

.wrapper .box input, textarea{
  width: 100%;
  font-size: 1.6rem;
  background: transparent;
  border: none;
  border-bottom: 0.1rem solid #F68A00;
  resize: none;
  transition: 0.4s linear;
}

.wrapper .box input:focus,
.wrapper-textarea .box textarea:focus{
  padding: 2rem;
  background: #F68A00;
  margin-top: 1rem;
}

.wrapper .box label{
  font-size: 1.6rem;
  font-weight: 500;
  color: #222;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 2rem;
  transition: 0.4s linear;
}

/* form buttons */
.form-button{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 2rem;
}

.btn{
  padding: 1rem 2rem;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.btn-reset{
  border: 0.1rem solid #ff0000;
  color: #ff0000;
  transition: all 0.4s;
}

.btn-reset:hover{
  background: #ff0000;
  color: #fff;
}

.btn-submit{
  border: 0.1rem solid #008000;
  color: #008000;
  transition: all 0.4s;
}

.btn-submit:hover{
  background: #008000;
  color: #fff;
}


/* footer */
footer {
  margin-top: 5rem;
  text-align: center;
}

footer p {
  color: #fff;
}

footer p a {
  color: #c4c4c4;
  text-decoration: underline;
  text-underline-offset: 3px;
}